/* =============================
    Global Setting

    ============================ */

:root {
    --primary-color: #1e90ff;
    --secondary-color: #004a99;
    --accent-color: #ffcc00;
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: "Segoe UI", Arial, sans-serif;
    --page-width: 840px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #222;
}

/* =========================================
    Page Layout
    ======================================== */

header,
main,
footer {
    width: var(--page-width);
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

p,
section,
article {
    margin: 16px;
    padding: 8px;

}

/* ====================================
    Header
    =================================== */

header {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #fff;
}

header .logo {
    width: 180px;
    height: auto;
    display: block;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

header nav a {
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;

}

header nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

/* ===========================
    Hero 
    ========================== */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;

    background-color: var(--accent-color);
    color: #000;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 16px;
    color: #000;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin-left: 12px;
}

/* ==================================
    History
    ================================= */

.history {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

.history img {
    width: 100%;
    height: auto;
    display: block;
}

.history p {
    background: none;
    padding: 0;
    border: none;
}

/* =============================
    Adventrures
    ============================ */

.adventures-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 20px 0;
}

.adventures-container figure {
    margin: 0;
    text-align: center;

}

.adventures-container img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s, filter 0.3s ease;

}

.adventures-container figure:hover img {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
    cursor: pointer;
}

.adventures-container figcaption {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--secondary-color);

}

.adventures-container figure:hover figcaption {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

/* ==============================
    footer
    ============================= */

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #d1c4e9;
    margin-top: 2rem;
}

footer p {
    grid-column: 2;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
}

/* ===========================
    Others
    ========================== */
footer .socialmedia {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer .socialmedia img {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    background-color: #fff;
    padding: 2px;
}

footer .socialmedia a {
    text-decoration: none;
}