
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

:root {
  --primary-color: #123456;
  --secondary-color: #654321;
  --accent1-color: #abcdef;
  --accent2-color: #fedcba;

  --heading-font: 'Lora', serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #333333;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #ffcc00;
  --nav-hover-background-color: #444444;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  text-align: center;
  padding: var(--header-padding);
  font-size: var(--header-font-size);
  font-family: var(--heading-font);
  border-bottom: 2px solid var(--secondary-color);
}