main {
    max-width: 840 px;
}

main h1 {
    color: #000;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    max-width: 200px;
    max-height: auto;
}

aside p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}