
main {
  max-width: 840px;
  margin: 0 auto; /*add*/
}


aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); 
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

p { padding: 0;}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem; /* add */ 
}


/********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  padding: 1rem;
}

header, nav, main, aside, footer {
  margin-bottom: 1rem;
}

/* somthing i add on 20240705 */

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}