header {
    background-color: #333;
    color: #fff;
    padding : 0px;
    text-align: center;
    font-size: 1.5rem;
    width: 800px;
    margin: 0 auto;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    
}

h2 {
    border-bottom: 1px solid #222;
}
img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0/10%);
    padding: 10px;
    background-color: rgb(212, 213, 216);
    font-size: 0.9rem;
}
section p {
    margin: 10 px;
}

ul {
    padding-left: 20px;  
}

footer {
    background-color: #333;
    color: #fff;
    padding: 0 px;
    text-align: center;
    font-size: 1.5rem;
    width: 800px;
    margin: 0 auto;
}